﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TMDT_Lab01_1212460.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <img style="width:400px; height:400px" src="nvtruong.jpg" />
        <pre>
    <code>MSSV  : </code>           1212460
    <code>Ho ten: </code>       Nguyen Van Truong
    <code>Email : </code><a href="">1212460@student.hcmus.edu.vn</a>
        </pre>
    </div>
    </form>
</body>
</html>
